@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
body {
    padding-top: 20vh;
}

.card {
    padding: 10rem;
    border: 1px black solid;
    text-align: center;
    
    h4 {
        font-weight: 600;
        front-size: 1.3em;
        min-height: 7rem;
    }
}